# 데이터 분석 수행
- 기업 재무 정보 데이터 활용
- 중소벤처기업부 통계자료 데이터베이스 참고 https://www.mss.go.kr/site/smba/submain/submain04.do
- 목표설정 -> 데이터 가공, 결합, 처리 -> 결과 검증

In [3]:
import pandas as pd

# 데이터 로딩(CSV 파일)
# 해당 데이터의 단위는 억원
file_path = 'data/시도별·산업중분류별·기업규모별_매출액_20250209135514.csv'
data = pd.read_csv(file_path)

data.info()

data.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   지역별(1)           345 non-null    object
 1   산업별(10차)중분류별(1)  345 non-null    object
 2   2019             345 non-null    object
 3   2019.1           345 non-null    object
 4   2019.2           345 non-null    object
 5   2019.3           345 non-null    object
 6   2019.4           345 non-null    object
 7   2019.5           345 non-null    object
 8   2019.6           345 non-null    object
 9   2020             345 non-null    object
 10  2020.1           345 non-null    object
 11  2020.2           345 non-null    object
 12  2020.3           345 non-null    object
 13  2020.4           345 non-null    object
 14  2020.5           345 non-null    object
 15  2020.6           345 non-null    object
 16  2021             345 non-null    object
 17  2021.1           345 non-null    object
 18  2021.2           345 non-null    object
 19  2021.3           345 non-null    object
 20  2021.4           345 non-null    object
 21  2021.5           345 non-null    object
 22  2021.6           345 non-null    object
 23  2022             345 non-null    object
 24  2022.1           345 non-null    object
 25  2022.2           345 non-null    object
 26  2022.3           345 non-null    object
 27  2022.4           345 non-null    object
 28  2022.5           345 non-null    object
 29  2022.6           345 non-null    object
dtypes: object(30)
memory usage: 81.0+ KB

,지역별(1),산업별(10차)중분류별(1),2019,2019.1,2019.2,2019.3,2019.4,2019.5,2019.6,2020,...,2021.4,2021.5,2021.6,2022,2022.1,2022.2,2022.3,2022.4,2022.5,2022.6
0,지역별(1),산업별(10차)중분류별(1),전체기업,중소기업,중소기업,중소기업,중소기업,중소기업,중소기업 외,전체기업,...,중소기업,중소기업,중소기업 외,전체기업,중소기업,중소기업,중소기업,중소기업,중소기업,중소기업 외
1,지역별(1),산업별(10차)중분류별(1),소계,소계,소기업,소기업,소기업,중기업,소계,소계,...,소기업,중기업,소계,소계,소계,소기업,소기업,소기업,중기업,소계
2,지역별(1),산업별(10차)중분류별(1),소계,소계,소계,소상공인,소상공인 제외,소계,소계,소계,...,소상공인 제외,소계,소계,소계,소계,소계,소상공인,소상공인 제외,소계,소계
3,전국,전산업,56298686,26542289,15276291,10304919,4971372,11265998,29756398,56611742,...,5343507,13168998,34329590,74944317,33090291,18244476,12729183,5515293,14845815,41854026
4,전국,"A.농업, 임업 및 어업(01~03)",248990,231850,201787,143806,57981,30063,17140,273194,...,72847,49635,19225,340942,318937,259327,181661,77666,59610,22005
5,전국,B.광업(05~08),29846,27408,12942,6041,6901,14465,2438,30440,...,7859,15509,4081,36386,30965,13754,7057,6697,17211,5421
6,전국,C.제조업(10~34),20259627,7132632,3917182,1935536,1981646,3215450,13126995,19372776,...,2084979,3469172,15235686,26234332,8346227,4452168,2267053,2185115,3894059,17888105
7,전국,"D.전기, 가스, 증기 및 공기 조절 공급업(35)",710139,42735,28397,23368,5029,14338,667404,638428,...,4327,14725,701254,1199037,85735,64787,59679,5108,20947,1113302
8,전국,"E.수도, 하수 및 폐기물 처리, 원료 재생업(36~39)",220360,184129,59313,24775,34538,124816,36232,217425,...,36524,160160,44498,289038,240215,67704,32229,35475,172510,48824
9,전국,F.건설업(41~42),4855240,3034124,1883594,1162083,721511,1150530,1821116,4808252,...,750381,1205416,1878910,5780745,3603841,2237104,1472515,764589,1366737,2176904

In [22]:
# 목표: 전국 데이터를 기준으로, 산업 중분류별 중소기업 매출 확인
# from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt

data.columns

data['지역별(1)'].describe()

data['지역별(1)'].value_counts()

data[data['지역별(1)']=='전국']

data[data['지역별(1)']=='전국'][['산업별(10차)중분류별(1)','2019.1', '2020.1','2021.1', '2022.1']]

data[data['지역별(1)']=='전국'][['산업별(10차)중분류별(1)','2019.1', '2020.1','2021.1', '2022.1']]

# 전산업의 지표가 이외 산업업종 합계와 같은지 체크
df2 = data[data['지역별(1)']=='전국'][['산업별(10차)중분류별(1)','2019.1', '2020.1','2021.1', '2022.1']]
print(df2)
df2.at[3, '2019.1'] # 하나의 값만 추출



# data[:'지역별(1)']

                      산업별(10차)중분류별(1)    2019.1    2020.1    2021.1    2022.1
3                                 전산업  26542289  26745661  30171248  33090291
4                A.농업, 임업 및 어업(01~03)    231850    255120    293505    318937
5                         B.광업(05~08)     27408     26956     29833     30965
6                        C.제조업(10~34)   7132632   6842379   7644003   8346227
7        D.전기, 가스, 증기 및 공기 조절 공급업(35)     42735     45984     58243     85735
8    E.수도, 하수 및 폐기물 처리, 원료 재생업(36~39)    184129    185261    226777    240215
9                        F.건설업(41~42)   3034124   2992487   3291011   3603841
10                  G.도매 및 소매업(45~47)   8951697   9186370  10353818  11204716
11                  H.운수 및 창고업(49~52)   1054292   1096546   1284837   1484093
12                 I.숙박 및 음식점업(55~56)   1311469   1244207   1349757   1648632
13                     J.정보통신업(58~63)    634250    687600    810715    931930
14                  K.금융 및 보험업(64~66)    248397    274347    318707    345199
15                         L.부동산업(68)    926848   1077240   1272465   1195860
16          M.전문, 과학 및 기술 서비스업(70~73)    791918    890843   1044691   1167137
17  N.사업시설 관리, 사업 지원 및 임대 서비스업(74~76)    604576    595700    667792    761290
18                      P.교육 서비스업(85)    200343    190100    239419    267341
19           Q.보건업 및 사회복지 서비스업(86~87)    682948    693237    775497    865792
20       R.예술, 스포츠 및 여가관련 서비스업(90~91)    178477    156969    185173    230571
21  S.협회 및 단체, 수리 및 기타 개인 서비스업(94~96)    304197    304316    325005    361812

'26542289'